[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
pillow = "*"
django-crispy-forms = "*"
stripe = "*"
django-environ = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-countries = {extras = ["pyuca"], version = "*"}
gunicorn = "*"
boto3 = "*"
django-storages = "*"
django-pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
