#profile-update-form .form-control {
  color: #000;
}

#profile-update-form input::placeholder {
  color: #abb8c4;
  /* Fallback color for IE */
  color: hsla(210, 18%, 72%, 1);
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}

#user-orders,
#user-subscription {
  height: fit-content !important;
}

form[action='/profile/stripe_customer_portal/'] button {
  background: none !important;
  border: none;
  padding: 0 !important;
}