#profile-update-form .form-control {
  color: #000;
}

#profile-update-form input::placeholder {
  color: hsla(210, 18%, 72%, 1);
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}