@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Style+Script&display=swap');

/* ______ BASE ______ */
:root {
  --font-title: 'Style Script', 'sans-serif';
  --font-body: 'Merriweather', 'sans-serif';
  --color-primary: hsla(45, 100%, 68%, 1);
  --color-background: hsla(34, 54%, 97%, 1);
  --color-text: hsl(0, 0%, 20%);
  --color-grey: hsl(0, 0%, 43.9%);
  --navbar-height: 76px;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 17px;
}

.text-black {
  color: var(--color-text) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

/* ______ INPUTS ______ */
.input-group {
  border: 1px solid var(--color-grey) !important;
  border-radius: 8px;
}

.input-group input {
  border: none;
  border-right-color: var(--color-grey);
  border-right-width: 1px;
  border-right-style: solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-control:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.2rem hsla(45, 100%, 68%, 0.75);
}


/* ______ BUTTONS ______ */
.btn-cta {
  background-color: var(--color-primary);
}

.btn-cta:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.2rem hsla(45, 100%, 68%, 0.75);
}

/* ______ NAVBAR ______ */
.logo {
  color: var(--color-primary);
  text-shadow: 0px 0px 4px black;
  margin: 0 .5rem;
}

nav {
  background-color: var(--color-background);
  padding: 0;
}

nav form {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.input-group .btn-cta {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.fa-caret-down,
.fa-caret-up {
  margin-left: 4px;
}

.fa-cart-shopping {
  margin-right: 8px;
}

.cart {
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  margin-left: 1rem;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.navbar-divider {
  font-size: 1.5rem;
  font-weight: lighter;
  position: relative;
  top: 3px;
}


/* ______ HERO SECTION ______ */
.hero-img {
  padding: 0;
  margin: 0;
  margin-top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  position: relative;
}

@media screen and (orientation: landscape) {
  .hero-img {
    background: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.2)), url("../img/hero-img-landscape.jpg") no-repeat center center;
    background-size: cover;
  }
}

@media screen and (orientation: portrait) {
  .hero-img {
    background: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.2)), url("../img/hero-img-portrait.jpg") no-repeat center center;
    background-size: cover;
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: 3vh;
  color: white;
  text-shadow: 0px 0px 4px black;
}

.hero-text h1 {
  font-size: 6vh;
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}