{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}


{% block page_header %}
<div class="page-header"></div>
{% endblock page_header %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center mt-3">
        <h2 class="title-inline">Contact Us</h2>
        <hr class="w-50 m-auto mb-4">
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <form action="{% url 'contact' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% comment %} {{ form | crispy }} {% endcomment %}
          <div class="text-center text-md-end mt-4">
            <button type="submit" class="btn btn-cta">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}